
// define site colours
$primaryColorLight: #ba6fe8;
$primaryColorMedium: #7d3ca3;
$primaryColorDark: #3c1c4e;
$primaryColorDarkest: #281334;
$complementaryColorLight: complement($primaryColorLight);
$textColorLight: #ddd;
$textColorDark: #777;
$backgroundColorLight: #444;
$backgroundColorMedium: #222;
$backgroundColorDark: #111;

// NOTE: Divide this file into multiple file by section, and use the include command

* {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
}
body {
    background: black;
    color: white;
    font-size: 2.2em;
    font-family: 'Raleway', sans-serif;
    line-height: 90%;
    padding: 0px 0px 0px 0px;
    position: relative;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;

    label {
        font-size: 0.6em;
    }
    input {
        font-size: 0.8em;
        color: black;
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: $primaryColorLight;

        &:hover {
            text-decoration: none;
            color: $complementaryColorLight;
        }
    }
    p {
        color: $textColorLight;
        font-size: 0.7em;
        line-height: 120%;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $textColorDark;
    margin: 1em 0;
    padding: 0;
}
h1 {
    color: white;
    font-family: 'Arimo', sans-serif;
    line-height: 100%;
    font-size: 1.3em;
}
h2 {
    font-size: 1.2em;
    color: $textColorLight;
    font-family: 'Arimo', sans-serif;
}
h3 {
    color: $textColorLight;
    font-size: 0.7em;
    line-height: 120%;
}
h4 {
    color: $textColorLight;
    font-size: 0.7em;
    line-height: 90%;
}
h5 {
    color: $textColorLight;
    font-size: 0.6em;
}

div {
    button {
        color: black;
        font-size: 0.6em;
        padding: 2px;
    }
    label {
        font-size: 0.7em;
    }
}

.main {
    margin-top: -30px;
    padding-right: 20px;
    padding-left: 7px;
}

#introText {
    padding: 0px 80px 0px 10px;
    min-width: 390px;
}
#homepageThumb {
    border: 2px solid $backgroundColorLight;
    border-radius: 15px;
    margin-top: 15px;
}
.textBlock {
    background-color: black;
    border: 0px solid $textColorDark;
    border-radius: 6px;
}

.aboutText {
    padding-bottom: 60px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;

    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
}

.textTitleCenter {
    text-align: center;
}

.optionsText {
    font-size: 1.0em;
}

.btn-link {
    color: $primaryColorLight;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.textColourData {
    color: $primaryColorLight;
}
.textColourData2 {
    color: $primaryColorLight;
    line-height: 1.3em;
}

.search {
    padding: 0px 0px 15px 0px;

    label {
        font-size: 0.7em;
    }
}

#searchBarLeft {
    float: left;
    text-align: right;
    min-width: 230px;
}
#searchBarMiddle {
    float: left;
    text-align: right;
    min-width: 230px;
}
#resultsPerPageInfo {
    padding-right: 6px;
}

.clearfix {
    overflow: auto;
    clear: both;
}

.returnToList {
    padding-left: 28px;
    margin-top: 13px;
}

#directoryTitle {
    min-width: 300px;
}

#searchResultsTitle {
    margin-top: -10px;
    padding-left: 3px;
    font-size: 0.5em;
    max-width: 100px;
}

.prevNextButtons {
    margin-top: 15px;
    margin-bottom: 15px;
}

#backToTopButton {
    margin-top: 12px;
}

#galaxyDetailsTop {
    min-width: 350px;
    opacity: 0.99;
    z-index: 1;
}
.galaxyThumb {
    min-height: 100px;
    min-width: 150px;
    float: left;
}
.galaxyDetailsThumb {
    width: 150px;
    border: 2px solid $textColorDark;
    border-radius: 15px;
    padding: 5px 5px 5px 2px;
    margin-top: 0px;
    background-color: black;
}
.galaxyDetailsThumbTitle {
    height: 30px;
}
.galaxyDetailsThumbTitle-xs {
    height: 30px;
    min-width: 175px;
    float: left;
}

.galaxyInfo {
    a {
        color: $textColorLight;
    }
}

#galaxyDetailsLeft {
    float: left;
    min-width: 170px;
    height: 200px;
    padding-right: 15px;
    margin-bottom: -10px;
}
#galaxyDetailsTitle-xs {
    float: left;
    min-width: 180px;
    padding-right: 15px;
    margin-bottom: -10px;
}

#galaxyDetailsRight {
    float: left;
    padding-top: 13px;
    padding-left: 8px;
    margin-bottom: 10px;
    min-width: 365px;
}

#galaxyDetailsBox1 {
    float: left;
    width: 180px;
    padding-right: 8px;
}

#galaxyDetailsBox2 {
    min-width: 160px;
    min-height: 115px;
    float: left;
}

#galaxyDetailsBox3 {
    width: 190px;
    float: left;
    margin-top: 12px;
}
.nextPrevControls {
    border: 2px solid $textColorDark;
    border-radius: 6px;
    padding: 0px 8px 12px 8px;
}
.galaxyNextPrevList {
    padding-left: 9px;
    padding-top: 3px;
    margin-bottom: 7px;
    float: left;
}
.galaxyNextPrev {
    float: left;
}

.galaxyNextPrevList-xs {
    min-width: 160px;
    padding-left: 2px;
    margin-top: 17px;
    margin-bottom: 7px;
    float: right;
}
#backToListButton-xs {
}

.searchDescriptor {
    height: 2em;
    margin-top: -8px;
    padding-bottom: 4px;
}

.largeImageWrapper {
    padding-right: 30px;
    padding-bottom: 30px;
    z-index: -10;
}

.largeImage {
    border-radius: 30px;
    border: 2px solid $textColorDark;
}
.galaxy.ng-enter.ng-enter-active, .galaxy.ng-leave {
    opacity: 1;
    height: 140px;
    overflow: hidden;
}
.galaxy.ng-leave.ng-leave-active, .galaxy.ng-enter {
    opacity: 0;
    height: 0px;
    overflow: hidden;
}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ----------------------------------------------- */

.multiList {
    width: 1200px;
    margin: 0 auto;
}

.galaxyList {
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    padding-top: 32px;
    padding-left: 20px;
    padding-bottom: 10px;

    -moz-column-gap: 0px;
    -webkit-column-gap: 0px;
    column-gap: 0px;

    a {
        display: block;
        text-decoration: none;
    }
    li {
        display: inline-block;
        padding: 0px 0px 0px 0px;
        margin: 0;
        border: 1px solid black;
        border-radius: 10px;

        &:hover {
            background: $backgroundColorDark;
            border: 1px solid $primaryColorLight;
        }
    }
}

@media only screen and (max-width: 699px), only screen and (max-device-width: 699px) {
    .galaxyList {
        border-color: black;
        margin-left: -20px;
    }
}


@mixin setListFormat ($numCols:4, $width:800px) {
    .galaxyList {
        -moz-column-count: $numCols;
        -webkit-column-count: $numCols;
        column-count: $numCols;
        width: $width;
    }
    .multiList {
        width: $width;
    }
}

@media only screen and (max-width: 1899px) {
    @include setListFormat (6, 1100px);
}
@media only screen and (max-width: 1200px) {
    @include setListFormat (5, 950px);
}
@media only screen and (max-width: 992px) {
    @include setListFormat (4, 750px);
}
@media only screen and (max-width: 800px) {
    @include setListFormat (3, 625px);
}
@media only screen and (max-width: 699px) {
    @include setListFormat (2, 400px);
}

/* ----------------------------------------------- */

.galaxyListLinear {
    width: 338px;
    a {
        display: block;
        text-decoration: none;
    }
    li {
        width: auto;
        display: block;
        padding: 0px 0px 0px 0px;
        margin: 0;
        border: 1px solid black;
        border-radius: 10px;
        opacity: 1;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;

        &:hover {
            background: $backgroundColorDark;
            border: 1px solid $primaryColorLight;
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);
        }
    }
}

select {
    color: white;
    background-color: $backgroundColorMedium;
}

/* ----------------------------------------------- */

.videoPlayer {
    padding-bottom: 50px;
    padding-top: 12px;
}

#navigationBar {
    li {
        font-size: 0.7em;
    }
}

/* custom navbar class used for skinning the navbar */
.navbar-custom {
    background: linear-gradient($backgroundColorLight, $backgroundColorDark);
}

.navbar-header {
    text-align: left;
}

.footer {
    h4 {
        color: $textColorDark;
    }
}

.btn {
  background: $primaryColorDark;
  background-image: -webkit-linear-gradient(top, $primaryColorDark, $primaryColorDarkest);
  background-image: -moz-linear-gradient(top, $primaryColorDark, $primaryColorDarkest);
  background-image: -ms-linear-gradient(top, $primaryColorDark, $primaryColorDarkest);
  background-image: -o-linear-gradient(top, $primaryColorDark, $primaryColorDarkest);
  background-image: linear-gradient(to bottom, $primaryColorDark, $primaryColorDarkest);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 0.7em;
  padding: 5px 10px 5px 10px;
  border: solid #c8aed9 1px;
  text-decoration: none;

  &:focus {
      color: white;
  }

  &:hover {
    background: $primaryColorMedium;
    background-image: -webkit-linear-gradient(top, $primaryColorMedium, $primaryColorDark);
    background-image: -moz-linear-gradient(top, $primaryColorMedium, $primaryColorDark);
    background-image: -ms-linear-gradient(top, $primaryColorMedium, $primaryColorDark);
    background-image: -o-linear-gradient(top, $primaryColorMedium, $primaryColorDark);
    background-image: linear-gradient(to bottom, $primaryColorMedium, $primaryColorDark);
    text-decoration: none;
    color: white;
  }
}

// Code to implement image fade transitions on the Home page carousel
.carousel-mini .carousel-inner .item {
    -webkit-transition: 0.5s ease-in-out left;
    -moz-transition: 0.5s ease-in-out left;
    -o-transition: 0.5s ease-in-out left;
    transition: 0.5s ease-in-out left;

    -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-large .carousel-inner .item {
    -webkit-transition: 1.5s ease-in-out left;
    -moz-transition: 1.5s ease-in-out left;
    -o-transition: 1.5s ease-in-out left;
    transition: 1.5s ease-in-out left;

    -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-large {
    margin-top: 10px;
}
.carousel-mini {
    display: none;
    width: 150px;
    position:absolute;
    margin-top: -50px;
    height: 350px;
    padding-right: 10px;
}
.carousel-mini .item {
    height: 350px;
}
.carousel-mini img {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

// Options for my Atom text editor
atom-text-editor {
  &, &::shadow {
    atom-text-editor-minimap {
      display: none;
    }
  }

  &.is-focused {
    &, &::shadow {
      atom-text-editor-minimap {
        display: block;
      }
    }
  }
}
