* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

body {
  background: black;
  color: white;
  font-size: 2.2em;
  font-family: 'Raleway', sans-serif;
  line-height: 90%;
  padding: 0px 0px 5px 0px;
  position: relative;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto; }
  body label {
    font-size: 0.6em; }
  body input {
    font-size: 0.6em; }
  body a {
    text-decoration: none;
    color: #ba6fe8; }
    body a:hover {
      text-decoration: none;
      color: #9de86f; }
  body p {
    color: #ddd;
    font-size: 0.7em;
    line-height: 120%; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #888;
  margin: 1em 0;
  padding: 0; }

h1 {
  color: white;
  font-family: 'Arimo', sans-serif;
  line-height: 90%;
  font-size: 1.2em; }

h2 {
  font-size: 1.2em;
  color: #ccc;
  font-family: 'Arimo', sans-serif; }

h3 {
  color: #ddd;
  font-size: 0.7em;
  line-height: 120%; }

h4 {
  color: #ddd;
  font-size: 0.7em;
  line-height: 90%; }

h5 {
  color: #ddd;
  font-size: 0.6em; }

div button {
  color: black;
  font-size: 0.6em;
  padding: 2px; }

div label {
  font-size: 0.7em; }

.main {
  margin-top: -30px;
  padding-right: 20px;
  padding-left: 7px; }

.btn-link {
  color: #ba6fe8;
  text-decoration: none; }
  .btn-link:hover {
    color: white;
    text-decoration: none; }

.textColourData {
  color: #ba6fe8; }

.search {
  padding: 0px 0px 15px 0px; }
  .search label {
    font-size: 0.7em; }

.clearfix {
  overflow: auto; }

.galaxyThumb {
  min-height: 100px;
  min-width: 150px;
  float: left; }

.galaxyDetailsThumb {
  min-width: 150px;
  border-radius: 5px;
  padding-bottom: 15px; }

.galaxyInfo a {
  color: #ddd; }

.largeImageWrapper {
  padding-bottom: 30px; }

.largeImage {
  border-radius: 30px;
  border: 2px solid #777; }

.galaxy.ng-enter.ng-enter-active, .galaxy.ng-leave {
  opacity: 1;
  height: 140px;
  overflow: hidden; }

.galaxy.ng-leave.ng-leave-active, .galaxy.ng-enter {
  opacity: 0;
  height: 0px;
  overflow: hidden; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/* ----------------------------------------------- */
.multiList {
  width: 1200px;
  margin: 0 auto; }

.galaxyList {
  -moz-column-gap: 0px;
  -webkit-column-gap: 0px;
  column-gap: 0px; }
  .galaxyList a {
    display: block;
    text-decoration: none; }
  .galaxyList li {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0;
    border: 1px solid black;
    border-radius: 10px; }
    .galaxyList li:hover {
      background: #111;
      border: 1px solid #ba6fe8; }

@media only screen and (max-width: 1799px), only screen and (max-device-width: 1799px) {
  .galaxyList {
    -moz-column-count: 6;
    -webkit-column-count: 6;
    column-count: 6;
    width: 1200px; }
  .multiList {
    width: 1200px; } }

@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
  .galaxyList {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
    width: 1000px; }
  .multiList {
    width: 1000px; } }

@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  .galaxyList {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    width: 800px; }
  .multiList {
    width: 800px; } }

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .galaxyList {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    width: 600px; }
  .multiList {
    width: 600px; } }

@media only screen and (max-width: 599px), only screen and (max-device-width: 599px) {
  .galaxyList {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    width: 400px; }
  .multiList {
    width: 400px; } }

/* ----------------------------------------------- */
.galaxyListLinear {
  width: 338px; }
  .galaxyListLinear a {
    display: block;
    text-decoration: none; }
  .galaxyListLinear li {
    width: auto;
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .galaxyListLinear li:hover {
      background: #111;
      border: 1px solid #ba6fe8;
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }

select {
  color: white;
  background-color: #222; }

/* ----------------------------------------------- */
#navigationBar li {
  font-size: 0.7em; }

/* custom navbar class used for skinning the navbar */
.navbar-custom {
  background: linear-gradient(#393939, #111111); }

.footer h4 {
  color: #888; }

.btn {
  background: #7d3ca3;
  background-image: -webkit-linear-gradient(top, #7d3ca3, #3c1c4e);
  background-image: -moz-linear-gradient(top, #7d3ca3, #3c1c4e);
  background-image: -ms-linear-gradient(top, #7d3ca3, #3c1c4e);
  background-image: -o-linear-gradient(top, #7d3ca3, #3c1c4e);
  background-image: linear-gradient(to bottom, #7d3ca3, #3c1c4e);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 0.7em;
  padding: 5px 10px 5px 10px;
  border: solid #c8aed9 1px;
  text-decoration: none; }
  .btn:focus {
    color: white; }
  .btn:hover {
    background: #ba6fe8;
    background-image: -webkit-linear-gradient(top, #ba6fe8, #7d3ca3);
    background-image: -moz-linear-gradient(top, #ba6fe8, #7d3ca3);
    background-image: -ms-linear-gradient(top, #ba6fe8, #7d3ca3);
    background-image: -o-linear-gradient(top, #ba6fe8, #7d3ca3);
    background-image: linear-gradient(to bottom, #ba6fe8, #7d3ca3);
    text-decoration: none;
    color: white; }

atom-text-editor atom-text-editor-minimap, atom-text-editor::shadow atom-text-editor-minimap {
  display: none; }

atom-text-editor.is-focused atom-text-editor-minimap, atom-text-editor.is-focused::shadow atom-text-editor-minimap {
  display: block; }
