
.btn-link {
    color: $primaryColorLight;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.btn {
  background: $primaryColorDark;
  background-image: -webkit-linear-gradient(top, $primaryColorDark, $primaryColorDarkest);
  background-image: -moz-linear-gradient(top, $primaryColorDark, $primaryColorDarkest);
  background-image: -ms-linear-gradient(top, $primaryColorDark, $primaryColorDarkest);
  background-image: -o-linear-gradient(top, $primaryColorDark, $primaryColorDarkest);
  background-image: linear-gradient(to bottom, $primaryColorDark, $primaryColorDarkest);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 0.7em;
  padding: 5px 10px 5px 10px;
  border: solid #7E3BAE 1px;
  text-decoration: none;

  &:focus {
      color: white;
  }

  &:hover {
    background: $primaryColorMedium;
    background-image: -webkit-linear-gradient(top, $primaryColorMedium, $primaryColorDark);
    background-image: -moz-linear-gradient(top, $primaryColorMedium, $primaryColorDark);
    background-image: -ms-linear-gradient(top, $primaryColorMedium, $primaryColorDark);
    background-image: -o-linear-gradient(top, $primaryColorMedium, $primaryColorDark);
    background-image: linear-gradient(to bottom, $primaryColorMedium, $primaryColorDark);
    text-decoration: none;
    color: white;
  }
}

.btn2 {
  @extend .btn;
  background: $secondaryColorDark;
  background-image: -webkit-linear-gradient(top, $secondaryColorDark, $secondaryColorDarkest);
  background-image: -moz-linear-gradient(top, $secondaryColorDark, $secondaryColorDarkest);
  background-image: -ms-linear-gradient(top, $secondaryColorDark, $secondaryColorDarkest);
  background-image: -o-linear-gradient(top, $secondaryColorDark, $secondaryColorDarkest);
  background-image: linear-gradient(to bottom, $secondaryColorDark, $secondaryColorDarkest);
  border: solid $secondaryColorMedium 1px;

  &:hover {
    background: $secondaryColorMedium;
    background-image: -webkit-linear-gradient(top, $secondaryColorMedium, $secondaryColorDark);
    background-image: -moz-linear-gradient(top, $secondaryColorMedium, $secondaryColorDark);
    background-image: -ms-linear-gradient(top, $secondaryColorMedium, $secondaryColorDark);
    background-image: -o-linear-gradient(top, $secondaryColorMedium, $secondaryColorDark);
    background-image: linear-gradient(to bottom, $secondaryColorMedium, $secondaryColorDark);

  }
}

.buttonFat {
  height: 40px;
}