
// modified carousel to support image fade transitions
.carousel-fade {

  .carousel-control {
    z-index: 2;
  }

  .carousel-inner {
    .item, .active.left, .active.right {
      opacity: 0;
    }
    .active, .next.left, .prev.right {
     opacity: 1;
    }
    .next, .prev, .active.left, .active.right {
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
}

// image carousel on the home page
.carousel-large {
    margin-top: 10px;

    .carousel-inner .item {
      -webkit-transition: 1.5s ease-in-out left;
      -moz-transition: 1.5s ease-in-out left;
      -o-transition: 1.5s ease-in-out left;
      transition: 1.5s ease-in-out left;

      -webkit-transition-property: opacity;
            transition-property: opacity;
  }    
}

// the mini-carousel auto fade animator, found on the List page
.carousel-mini {
    display: none;
    width: 150px;
    position:absolute;
    margin-top: -70px;
    height: 350px;
    padding-right: 10px;

    img {
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

    .item {
      height: 350px;
    }

    .carousel-inner .item {
        -webkit-transition: 0.5s ease-in-out left;
        -moz-transition: 0.5s ease-in-out left;
        -o-transition: 0.5s ease-in-out left;
        transition: 0.5s ease-in-out left;

        -webkit-transition-property: opacity;
              transition-property: opacity;
    }
}

