
#galaxyDetailsTop {
    min-width: 350px;
    opacity: 0.99;
    z-index: 1;

    div#galaxyDetailsLeft {
        float: left;
        min-width: 170px;
        height: 200px;
        padding-right: 15px;
        margin-bottom: -10px;

        .galaxyDetailsThumbTitle {
            height: 30px;
        }

        .galaxyDetailsThumb {
            width: 150px;
            border: 2px solid $textColorDark;
            border-radius: 15px;
            padding: 5px 5px 5px 2px;
            margin-top: 0px;
            background-color: black;
        }
    }

    div#galaxyDetailsTitle-xs {
        float: left;
        min-width: 180px;
        padding-right: 15px;
        margin-bottom: -10px;

        .galaxyDetailsThumbTitle-xs {
            float: left;            
            height: 30px;
            min-width: 175px;
        }
        
        .galaxyNextPrevList-xs {
            float: right; 
            min-width: 160px;
            padding-left: 2px;
            margin-top: 17px;
            margin-bottom: 7px;

            .galaxyNextPrev {
                float: left;
            }
        }  
    }

    div#galaxyDetailsRight {
        float: left;
        padding-top: 13px;
        padding-left: 8px;
        margin-bottom: 10px;
        min-width: 365px;

        div#galaxyDetailsBox1 {
            float: left;
            width: 180px;
            padding-right: 8px;
        }

        div#galaxyDetailsBox2 {
            float: left;
            min-width: 160px;
            min-height: 115px;
        }

        div#galaxyDetailsBox3 {
            float: left;
            width: 190px;
            margin-top: 12px;

            @include mq ($from: media_size_md) {
                margin-left: 93px;
            }
         
            .nextPrevControls {
                border: 2px solid $textColorDark;
                border-radius: 6px;
                padding: 0px 8px 12px 8px;

                #searchResultsTitle {
                    font-size: 0.5em;                    
                    margin-top: -10px;
                    padding-left: 3px;
                    max-width: 100px;
                }

                .galaxyNextPrevList {
                    float: left;
                    padding-left: 9px;
                    padding-top: 3px;
                    margin-bottom: 7px;
                }

                .searchDescriptor {
                    height: 2em;
                    margin-top: -8px;
                    padding-bottom: 4px;
                }
 
                #returnToList {
                    padding-left: 28px;
                    margin-top: 13px;
                }
            } 
        }       
    }
}

.largeImageWrapper {
    padding-right: 30px;
    padding-bottom: 30px;
    z-index: -10;
    @include mq ($from: media_size_sm_mod, $until: media_size_md) {
        padding-left: 15px;
    }

    img.largeImage {
        border-radius: 30px;
        border: 2px solid $textColorDark;
    }
}

