#navigationBar {
    li {
        font-size: 0.7em;
    }
}

/* custom navbar class used for skinning the navbar */
.navbar-custom {
    background: linear-gradient($backgroundColorLight, $backgroundColorDark);
}

.navbar-header-removed {
    text-align: left;
}
