
#homePage {
	@include mq ($until: media_size_xsm) {	
		margin-left: -15px;

		h1 {
			font-size: 1.0em;
		}
	}

}

#introText {
    padding: 0px 80px 30px 10px;
    min-width: 390px;
   	@include mq ($until: media_size_xsm) {	
   		min-width: 430px;
	}
}

#homepageThumb {
    border: 2px solid $backgroundColorLight;
    border-radius: 15px;
    margin-top: 15px;
}

#buttonContainer {
	margin-top: 20px;
	#enterButton {
		padding: 0px 20px 0px 20px;
	}
}
