
#homePage {
	@include mq ($until: media_size_xsm) {	
		margin-left: -15px;

		h1 {
			font-size: 1.0em;
		}
	}

}

#introText {
    padding: 0px 80px 30px 0px;
    min-width: 390px;
   	@include mq ($until: media_size_xsm) {	
   		min-width: 430px;
	}
}

#homepageThumb {
    border: 0px solid $backgroundColorLight;
    border-radius: 15px;
    margin-top: 15px;
}

#buttonContainer {
	margin-top: 10px;
	padding-top: 10px;
	#enterButton {
		padding: 0px 20px 0px 20px;
	}

    background: url(../images/footer-button-background.jpg) no-repeat 0 100%;
    background-position: top left;
    padding-bottom: 35px;    

}
