
$thumbWidthNormal: 150px;
$thumbHeightNormal: 100px;
$thumbWidthSmall: 90px;
$thumbHeightSmall: 60px;


#searchControls {
    padding: 10px 0px 15px 0px;

    label {
        font-size: 0.7em;
    }

    div#directoryTitle {
        z-index: 200;
        height: 40px;
        background-color: #222;
        margin-bottom: 15px;

        margin-left: -10px;
        padding-left: 8px;
        max-width: 470px;
        min-width: 330px;

        @include mq ($until: media_size_xsm) {
            margin-left: -30px;
            padding-left: 20px;
            max-width: map-get($mq-breakpoints, media_size_xsm); 
            width: map-get($mq-breakpoints, media_size_xsm);  
        }       

        border-style: solid solid solid hidden;
        border-width: 1px;
        border-color: $thirdColorMedium;
        border-radius: 8px;

        background: -webkit-gradient(linear, left top, right top, from($thirdColorDarkest), to($thirdColorDark));
        background: -webkit-linear-gradient(left, $thirdColorDark, $backgroundColorDark);
        background: -moz-linear-gradient(left, $thirdColorDark, $thirdColorDarkest);
        background: -ms-linear-gradient(left, $thirdColorDark, $thirdColorDarkest);
        background: -o-linear-gradient(left, $thirdColorDark, $thirdColorDarkest);

        #titleIcon {
            float:left; 
            margin-top: 9px; 
            margin-right: 3px; 
            opacity: 0.4;
        }
        #titleImage {
            margin-top: 5px; 
            padding-bottom: 2px; 
            opacity: 0.8; 
            overflow-x: auto;   
        }
    }

    div#searchBarLeft {
        float: left;
        text-align: right;
        min-width: 230px;

        .searchField {
            margin-top: 25px;
            margin-bottom: 20px;    
             
            .listSearchField {
                width: 165px;
                margin-top: 5px;
                margin-left: 10px;
                float: left;

                input {
                    width: 165px;
                }
            }
        }
    }   

    div#searchBarMiddle {
        float: left;
        text-align: right;
        min-width: 230px;

        div#resultsPerPageInfo {
            padding-right: 6px;
        }    
    } 
    .controlsLine {
        margin-top: -2px;
        margin-bottom: -8px;
    }   
    .listDropdown {
        float: right;
    }  
    .controlsTitle {
        float: left;
        overflow-y: hidden;
    }  

}

.responsiveHR {
    min-width: 330px;
    max-width: 470px;
    @include mq ($from: media_size_xsm) {
        margin-top: -80px;
    }
}

#multiList {
    width: 1200px;
    margin: 0 auto;
}

.galaxyThumb {
    min-height: $thumbHeightSmall;
    min-width: $thumbWidthSmall;
    float: left;
    overflow: hidden;

    @include mq ($from: media_size_xsm) {
        min-height: $thumbHeightNormal;
        min-width: $thumbWidthNormal;
    }
    img {
        width: $thumbWidthSmall; 
        @include mq ($from: media_size_xsm) {
            width: $thumbWidthNormal; 
        }
    }
}   

.galaxyList {
    border: 2px solid $backgroundColorLight;
    border-radius: 30px;
    padding: 5px 0px 10px 20px;

    -moz-column-gap: 0px;
    -webkit-column-gap: 0px;
    column-gap: 0px;

    a {
        display: block;
        text-decoration: none;
    }
    li {
        display: inline-block;
        padding: 0px;
        margin: 0;
        border: 1px solid #000;
        border-radius: 10px;

        -webkit-transition: border-color 0.2s ease-out; /* Saf3.2+, Chrome */
           -moz-transition: border-color 0.2s ease-out; /* FF3.7+ */
             -o-transition: border-color 0.2s ease-out; /* Opera 10.5 */
                transition: border-color 0.2s ease-out;
       
        &:hover {
            cursor: pointer;
            background: #000;
            border: 1px solid $primaryColorLight;
        }
    }
}

@include mq ($until: media_size_xsm) {   
    .galaxyList {
        border-color: #000;
        margin-left: -20px;
    }
}

@mixin setListFormat ($numCols:4, $width:800px) {
    .galaxyList {
        -moz-column-count: $numCols;
        -webkit-column-count: $numCols;
        column-count: $numCols;
        width: $width;
    }
    #multiList {
        width: $width;
    }
}

// uses the sass-mq component to simplify media queries
@include mq ($until: media_size_xlg) {
    @include setListFormat (6, $list_size_xlg);
}
@include mq ($until: media_size_lg) {
    @include setListFormat (5, $list_size_lg);
}
@include mq ($until: media_size_md) {
    @include setListFormat (4, $list_size_md);
}
@include mq ($until: media_size_sm) {
    @include setListFormat (3, $list_size_sm);
}
@include mq ($until: media_size_xsm) {
    @include setListFormat (6, $list_size_xsm);
}
@include mq ($until: media_size_xxsm) {
    @include setListFormat (3, $list_size_xxsm);
}

.galaxyListLinear {
    width: 338px;
    a {
        display: block;
        text-decoration: none;
    }
    li {
        width: auto;
        display: block;
        padding: 0px 0px 0px 0px;
        margin: 0;
        border: 1px solid #000;
        border-radius: 10px;
        opacity: 1;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;

        &:hover {
            background: #000;
            border: 1px solid $primaryColorLight;
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);
        }
    }
}
#searchResultsSection {
    margin-top: -20px;
}

#prevNextButtons {
    margin-top: 15px;
    margin-bottom: 15px;
}

#backToTopButton {
    margin-top: 12px;
}
