<section class="aboutPage">

   <div class="container">
   <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div>
         <div class="videoPlayer">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="//player.vimeo.com/video/176247881?autoplay=0"></iframe>
            </div>
         </div>
         <p style="margin-left: 30px;">
            <i>Above: a 3D map showing our galactic neighbourhood. The Virgo Cluster is the large group at the center, and the Milky Way is hightlighted by a spinning white circle. Galaxy sizes have been exaggerated to show the structure.</i>
         </p></br>
         <h1>About Multiverse</h1></br>
         <div class="aboutText">
            <p class="lead">
               Multiverse is an extra-galactic map program, featuring 480 of the largest galaxies within 100 million light years of the Milky Way.
            </p>
            <p>
               Built with TouchDesigner software, Multiverse is used for live educational presentations about space, and also for creative performance (including special effects that can be synced to music). I teach a multimedia astronomy class called <a href="http://www.galaxyclass.org" target="_blank">Galaxy Class</a> at music festivals and high schools that uses Multiverse to teach people about our place in the cosmos.
            </p>
            <p>
               Multiverse is an offline application that is not available over the Internet (though I have aspirations of translating it into an online app). This website is a public interface to browse the Multiverse galaxy collection. Notice that the Details page for each galaxy has its own unique URL which allows you to share the individual pages.
            </p>
            <p>
               Images have been gathered from several different online sources, using various telescopes &amp; wavelengths. Sources include the following websites: <a href="http://hubblesite.org" target="_blank">Hubble Space Telescope</a>, <a href="http://www.sdss.org" target="_blank">Sloan Digital Sky Survey</a>, <a href="http://www.esa.int/spaceinimages/Images" target="_blank">European Space Agency</a>, <a href="https://lcogt.net" target="_blank">Las Cumbres Observatory Global Telescope Network</a>, <a href="http://www.capella-observatory.com" target="_blank">Capella Observatory</a>, <a href="https://cgs.obs.carnegiescience.edu/CGS/Home.html" target="_blank">Carnegie-Irvine Galaxy Survey</a>, and the <a href="http://cseligman.com/text/atlas/ngc00.htm#ngcic" target="_blank">galactic catalog</a> of Courtney Seligman.
            </p>
            <p>
               The goal of this phase of the project is to catalog and creatively showcase all major galaxies within 100 million light years of the Milky Way, where "major" refers to galaxies greater than about 70 thousand light years in diameter for which good photographs are available; for reference, the Milky Way is at least 100,000 light years in diameter. This volume of space contains perhaps 10x as many medium-sized galaxies (20 to 65 thousand light years diameter) and about 100x as many dwarf galaxies (the tiny ones similar to the Small and Large Magellanic Cloud galaxies). A 100-million-light-year diameter sphere represents our local galactic neighbourhood within the Laniakea supercluster, featuring the Virgo Cluster as the dominant local structure. The visible universe is approximately 40 million times this volume, with a diameter of about 92 billion light years.
            </p>
            <p>
               Data was manually gathered from Wikipedia and a few other astronomy websites, including the <a href="http://www.atlasoftheuniverse.com" target="_blank">Atlas of the Universe</a>. Size and distance values for all galaxies are estimates. Galaxy icon sizes on the List page do not reflect the actual relative sizes. Many galaxies listed as "No Group" (i.e. those that do not belong to a group) often belong to small groups that are relatively isolated, but their groups are not large enough to warrant their own label.
            </p>
            <p>
               <a href="/#/options"><span class="glyphicon glyphicon-cog"></span></a> Note: This website can also be used as a web controller (and data receiver) to interface with Multiverse over a local network.
            </p>
         </div>

      </div>
   </div>
   </div>

</section>
