<section>
   <div class="container">
      <div class="row">

         <div class="col-xs-10 col-sm-9 col-md-9 col-lg-9">

            <div id="searchControlsContainer">
            <div id="searchControls">

            <!--
              <div id="directoryTitle">
                <img id="titleIcon" src="images/spiral-icon-white.png" width="35">
                <img id="titleImage" src="images/title-galaxy-search.png" height="30">
              </div>
            -->
              <div id="searchBarLeft" ng-cloak>

               <div class="controlsLine clearfix">
                  <h5 class="controlsTitle">Group:</h5>
                  <div class="listDropdown">
                    <ui-select ng-model="selectedGroup.value" theme="bootstrap" append-to-body="true" search-enabled="false" on-select="changeGroupSelect($item)">
                        <ui-select-match placeholder="Select group...">
                            <span ng-bind="$select.selected.name_cleaned"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="group in galaxyGroups">
                            <span ng-bind="group.name_cleaned"></span>
                        </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                  <!--             
                  <label> Group:
                     <select ng-model="galaxyGroup" id="groupSelect" ng-change="changeGroupSelect()">
                        <option value="">All</option>
                        <option value="-">No Group</option>
                        <option ng-repeat="group in galaxyGroups" value="{{group.name}}">{{group.name_cleaned}}</option>
                     </select>
                  </label>
                  -->
                  </br>

                 <div class="controlsLine ">
                    <h5 class="controlsTitle clearfix">Type:</h5>
                    <div class="listDropdown">
                      <ui-select ng-model="selectedType.value" theme="bootstrap" append-to-body="true" search-enabled="false" on-select="changeTypeSelect($item)">
                          <ui-select-match placeholder="Select type...">
                              <span ng-bind="$select.selected"></span>
                          </ui-select-match>
                          <ui-select-choices repeat="type in galaxyTypes">
                              <span ng-bind="type"></span>
                          </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                  <div class="searchField">
                    </br>
                    <h5 class="controlsTitle clearfix">Name: </h5>
                    <div class="listSearchField">                  
                      <input ng-model="query" placeholder=" enter search text">
                    </div>
                  </div>
                  </br>
               </div>
               <div id="searchBarMiddle">
                  <label>
                     <input type="radio" ng-model="direction" name="direction" value="" ng-change="changeSortDirection()"><span class="controlsTitle">ascending</span>
                  </label>
                  <label>
                     <input type="radio" ng-model="direction" name="direction" value="reverse" ng-change="changeSortDirection()"><span class="controlsTitle">descending</span>
                  </label>
                  </br>
                  <label><span class="controlsTitle">Order by:</span>
                     <select ng-model="galaxyOrder" ng-change="changeOrderBy()">
                        <option value="Common_Name">Name</option>
                        <option value="Type">Type</option>
                        <option value="Distance">Distance</option>
                        <option value="Diameter">Size</option>
                     </select>
                  </label>
                  </br>                  
                  <div id="resultsPerPageInfo">
                     <label><span class="controlsTitle">Results per Page:</span>
                        <select ng-model="resultsPerPage" ng-change="changeResultsPerPage()">
                           <option value="10">10</option>
                           <option value="20">20</option>
                           <option value="40">40</option>
                           <option value="1000">All</option>
                        </select>
                     </label>
                  </div>

                  <label><span class="controlsTitle">Display Style:</span>
                     <select ng-model="selectedListStyle" ng-change="changeListStyle()">
                        <option value="List">List</option>
                        <option value="Tiles">Tiles</option>
                     </select>
                  </label>
                  </br>

               </div>
            </div>
            </div>
         </div>

         <div class="col-xs-2 col-sm-3 col-md-2 col-lg-2" >
            <div>
               <div >
               
                 <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" no-pause="true" class="carousel-fade carousel-mini hideMe" template-url="templates/carousel/carousel.html">
                   <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" >
                     <img ng-src="{{slide.image}}">
                   </div>
                </div>
                <picture class="miniGalaxyOverlay">
                  <source 
                    media="(min-width: 768px)"
                    srcset="images/galaxy-mask.png">
                  <img 
                    src="images/galaxy-mask-2c.png">
                </picture>
                
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
            <div class="responsiveHR">
              <h5>Search includes 480 of the largest galaxies within 100 million light years.</h5>
              
              <img src="images/star-divider.jpg"/>
            </div>    

            <div id="searchResultsSection" class="clearfix">
              <div id="searchResultInfo">
               <h1 class="galaxyResultInfo"> {{numGalaxies}}</h1><h3>Galaxies ({{resultRatio}}%)</h3>
               <h4 ng-bind="showingTextBox"></h4>
               <div id="prevNextButtons" ng-class="hideNextPrevButtons ? 'hidden': ''">
                  <button class="btn" ng-click="prevPage()">
                     <span class="glyphicon glyphicon-menu-left"></span> Prev Page</button>
                  <button class="btn" ng-click="nextPage()">Next Page <span class="glyphicon glyphicon-menu-right"></span></button>
               </div>
              <div>
            </div>

         </div>
      </div>
      
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div>
               <ul ng-class="selectedListStyle==='List' ? 'galaxyListLinear': 'galaxyList'">
                  <li tooltip-placement="top-left" uib-tooltip="{{item.Common_Name}}" ng-animate="animate" class="galaxyListItem clearfix" ng-repeat="item in filtered = (galaxies | filter: {Common_Name:query} | orderBy: galaxyOrder:direction | limitTo:limitNum:limitStart)">
                     <a ng-href="" ng-click="onGalaxyClicked(item._Common_Name);" style="cursor:pointer;">
                        <div class="galaxyThumb">
                           <img ng-src="images/galaxies 150/{{item.ImageFileJPG}}" alt="">
                        </div>
                        <div class="info" ng-class="selectedListStyle==='List' ? '': 'hidden'">
                           <h2>{{item.Common_Name}}</h2>
                           <h4>{{item.Council_Name}}</h4>
                           <div ng-show="showFlags.distance">
                              <h4>Distance: {{item.Distance}} mly</h4></div>
                           <div ng-show="showFlags.size">
                              <h4>Size: {{item.Diameter}} kly</h4></div>
                           <div ng-show="showFlags.group">
                              <h4>Group: {{item.Group}}</h4></div>
                           <div ng-show="showFlags.type">
                              <h4>Type: {{item.Type}}</h4></div>
                        </div>
                     </a>
                  </li>
               </ul>
            </div>

            <div class="footerButtonContainer">
               <button id="backToTopButton" type="button" class="btn btn-link" ng-click="returnToTop()"><span class="glyphicon glyphicon-arrow-up"></span> Top
               </button>
               </br></br>
            </div>

         </div>
      </div>

   </div>

</section>
