<section>
   <div class="container">
      <div class="row">

         <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
            <div id="searchControls">

               <div id="directoryTitle">
                  <h1>Galactic Directory</h1>
               </div>
<!--
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn2 btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Galaxy Group <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li ng-repeat="group in galaxyGroups" role="menuitem" value="{{group.name}}">{{group.name_cleaned}}</li>
      </ul>
    </div>
-->
               <div id="searchBarLeft" ng-cloak>
                  <label> Group:

                     <select ng-model="galaxyGroup" id="groupSelect" ng-change="changeGroupSelect()">
                        <option value="">All</option>
                        <option value="-">No Group</option>
                        <option ng-repeat="group in galaxyGroups" value="{{group.name}}">{{group.name_cleaned}}</option>
                     </select>

                  </label>
                  </br>
                  <label> Type:
                     <select ng-model="galaxyType" id="typeSelect" ng-change="changeTypeSelect()">
                        <option value="">All</option>
                        <option ng-repeat="itemType in galaxyTypes" value="{{itemType}}">{{itemType}}</option>
                     </select>
                  </label>
                  </br>
                  <label>Display style:
                     <select ng-model="selectedListStyle" ng-change="changeListStyle()">
                        <option value="List">List</option>
                        <option value="Tiles">Tiles</option>
                     </select>
                  </label>
                  </br>
                  <label>Search: </label>
                  <input ng-model="query" placeholder=" enter text" style="width:150px;">
                  </br>
               </div>
               <div id="searchBarMiddle">
                  <label>Order by:
                     <select ng-model="galaxyOrder" ng-change="changeOrderBy()">
                        <option value="Common_Name">Name</option>
                        <option value="Type">Type</option>
                        <option value="Distance">Distance</option>
                        <option value="Diameter">Size</option>
                     </select>
                  </label>
                  </br>
                  <label>
                     <input type="radio" ng-model="direction" name="direction" value="" ng-change="changeSortDirection()"> ascending
                  </label>
                  <label>
                     <input type="radio" ng-model="direction" name="direction" value="reverse" ng-change="changeSortDirection()"> descending
                  </label>
                  </br>
                  <div id="resultsPerPageInfo">
                     <label>Results per Page:
                        <select ng-model="resultsPerPage"   ng-change="changeResultsPerPage()">
                           <option value="10">10</option>
                           <option value="20">20</option>
                           <option value="40">40</option>
                           <option value="1000">All</option>
                        </select>
                     </label>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
            <div>
               <div>
                 <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" no-pause="true" class="carousel-fade carousel-mini" template-url="templates/carousel/carousel.html">
                   <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                     <img ng-src="{{slide.image}}">
                   </div>
                </div>
               </div>
            </div>
         </div>

      </div>

      <div class="row">

         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="clearfix">
               <hr/>
               <h4>SEARCH RESULTS: {{numGalaxies}}</h4>
               <h4 ng-bind="showingTextBox"></h4>
               <div id="prevNextButtons">
                  <button class="btn" ng-click="prevPage()">
                     <span class="glyphicon glyphicon-menu-left"></span> Prev Page</button>
                  <button class="btn" ng-click="nextPage()">Next Page <span class="glyphicon glyphicon-menu-right"></span></button>
               </div>
            </div>

            <div class="multiList">
               <ul class="galaxyListLinear" ng-cloak>
                  <li tooltip-placement="top-left" uib-tooltip="{{item.Common_Name}}" ng-animate="animate" class="galaxyListItem clearfix" ng-repeat="item in filtered = (galaxies | filter: {Common_Name:query} | orderBy: galaxyOrder:direction | limitTo:limitNum:limitStart)">
                     <a ng-href="" ng-click="onGalaxyClicked(item._Common_Name);" style="cursor:pointer;">
                        <div class="galaxyThumb">
                           <img ng-src="images/galaxies 150/{{item.ImageFileJPG}}" alt="">
                        </div>
                        <div class="info" ng-show="showFlags.all">
                           <h2>{{item.Common_Name}}</h2>
                           <h4>{{item.Council_Name}}</h4>
                           <div ng-show="showFlags.distance">
                              <h4>Distance: {{item.Distance}} mly</h4></div>
                           <div ng-show="showFlags.size">
                              <h4>Size: {{item.Diameter}} kly</h4></div>
                           <div ng-show="showFlags.group">
                              <h4>Group: {{item.Group}}</h4></div>
                           <div ng-show="showFlags.type">
                              <h4>Type: {{item.Type}}</h4></div>
                        </div>
                     </a>
                  </li>
               </ul>
            </div>
            <div>
               <button id="backToTopButton" type="button" class="btn btn-link" ng-click="returnToTop()"><span class="glyphicon glyphicon-arrow-up"></span> Back to Top
               </button>
               </br></br>
            </div>
         </div>

      </div>

   </div>

</section>
