<section class="videoPage">
    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 videoText">

        <h1>Multiverse</h1>
        <h3>3D Extra-Galactic Explorer</h3>

        <div class="videoPlayer">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="//player.vimeo.com/video/176247881?autoplay=0"></iframe>
            </div>
        </div>
         <p>
            Above is a 3D map showing our galactic neighbourhood, with all 480 galaxies in this database. The map shows most major galaxies within 100 million light years of the Milky Way (and there are many more small ones, not shown). The rotating view is centered on the Virgo Cluster, which is our local galactic cluster. The Milky Way is highlighted by a white circle. The galaxy sizes have been enlarged to show the structure.
        </p>
        <p>
            The size of the observable universe is about 40 million times larger than the volume encompassed by this map. Recent estimates suggest the observable universe contains approximately two <b>trillion</b> galaxies.
        </p>
    </div>
    </div>
    </div>

</section>
