<section class="aboutPage">

   <div class="container">
   <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div>
         <h1>About</h1></br>
         <p>For more information about Multiverse, visit <a href="http://www.galaxyclass.org/multiverse" target="_blank">www.galaxyclass.org/multiverse</a></p>
         <p>Images have been gathered from several different online sources using various telescopes, including the following sources: the Hubble Space Telescope, the Sloan Digital Sky Survey, the European Space Agengy, the  Las Cumbres Observatory Global Telescope Network, and the Carnegie-Irvine Galaxy Survey.</p>
         <p>Data for galaxies was mostly gathered from Wikipedia. Size and distance values for all galaxies are estimates.</p>
         </p>
      </div>
   </div>
   </div>

</section>
