<section class="aboutPage">

   <div class="container">
   <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div>
         <div class="videoPlayer">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="//player.vimeo.com/video/176247881?autoplay=1"></iframe>
            </div>
         </div>
         <p style="margin-left: 30px;">
            <i>Above: a 3D map showing our galactic neighbourhood. The Virgo Cluster is the large group at the center, and the Milky Way is hightlighted by a spinning white circle. Galaxy sizes have been exaggerated to show the structure.</i>
         </p></br>
         <h1>About Multiverse</h1></br>
         <p class="lead">
            Multiverse is an extra-galactic map program, featuring 480 of the largest galaxies within 100 million light years of the Milky Way.       </p>
            <p>
               Built with TouchDesigner software, Multiverse is also used for live-persentations and creative performance. I teach a multimedia astronomy class called <a href="http://www.galaxyclass.org" target="_blank">Galaxy Class</a> which uses Multiverse to teach people about the universe.
            </p>
         <p>
            Images have been gathered from several different online sources using various telescopes, including the following sources: the Hubble Space Telescope, the Sloan Digital Sky Survey, the European Space Agency, the  Las Cumbres Observatory Global Telescope Network, the Capella Observatory, and the Carnegie-Irvine Galaxy Survey.
         </p>
         <p>
            The goal of the project is to catalog all major galaxies within 100 million light years of the Milky Way, where "major" refers to galaxies greater than about 70 thousand light years in diameter for which good photographs are available. This volume of space contains perhaps 10x as many small galaxies (20 to 65 thousand light years diameter) and about 100x as many dwarf galaxies (the tiny ones similar to the Small and Large Magellanic Cloud galaxies). A 100-million-light-year diameter sphere represents our local galactic neighbourhood within the Laniakea supercluster. The visible universe is approximately 40 million times this volume, with a diameter of about 92 billion light years.
         </p>
         <p>
            Data was manually gathered from Wikipedia and a few other astronomy websites, including the <a href="http://www.atlasoftheuniverse.com" target="_blank">Atlas of the Universe</a>. Size and distance values for all galaxies are estimates. Galaxy icon sizes on the List page do not reflect the actual relative sizes. Many galaxies listed as "No Group" (i.e. those that do not belong to a group) often belong to small groups that are relatively isolated, but their groups are not large enough to warrant their own label.
         </p>
         <p></br></br></p>
      </div>
   </div>
   </div>

</section>
