<section class="galaxyInfo">

   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="galaxy pull-left">
               <div id="galaxyDetailsTop">
                  <div id="galaxyDetailsLeft" class="hidden-xs">
                     <div class="galaxyDetailsThumbTitle">
                        <h1><span ng-bind="galaxyDetails.Common_Name"></span></h1>
                        <!--<h4><span ng-bind="galaxyDetails.Council_Name"></span></h4> -->
                     </div>
                     <div class="galaxyDetailsThumb" style="display:none">
                        <img ng-src={{galaxyDetails.ImageFile_fulltext}} alt="">
                     </div>
                  </div>
                  <div id="galaxyDetailsTitle-xs" class="hidden-sm hidden-md hidden-lg">
                     <div class="galaxyDetailsThumbTitle-xs">
                        <h1><span ng-bind="galaxyDetails.Common_Name"></span></h1>
                        <!--<h4><span ng-bind="galaxyDetails.Council_Name"></span></h4> -->
                     </div>
                     <div class="galaxyNextPrevList-xs">
                        <div class="galaxyNextPrev">
                           <button class="btn btn-primary raised" ng-click="prevGalaxy()">
                           <span class="glyphicon glyphicon-menu-left"></span> </button>
                           <button class="btn btn-primary raised" ng-click="nextGalaxy()"> <span class="glyphicon glyphicon-menu-right"></span></button>&nbsp;&nbsp;
                        </div>
                        <div>
                           <button id="backToListButton-xs" type="button" class="btn btn-link" ng-click="returnToList()">List</button>
                        </div>
                     </div>
                  </div>
                  <div id="galaxyDetailsRight">
                     <div id="galaxyDetailsBox1">
                        <h4>Group: <span class="textColourData" ng-bind="galaxyDetails.Group"></span></h4>
                        <h4>Diameter: <span class="textColourData"><span ng-bind="galaxyDetails.Diameter_fulltext"> </span></span></h4>
                        <h4>Distance: <span class="textColourData"><span ng-bind="galaxyDetails.Distance_fulltext"></span></span></h4>
                        <h4>Visual Mag: <span class="textColourData" ng-bind="galaxyDetails.VisualMag"></span></h4>
                     </div>
                     <div id="galaxyDetailsBox2">
                        <h4>RA: <span class="textColourData"><span ng-bind="galaxyDetails.RA_fulltext"></span></span></h4>
                        <h4>Decl: <span class="textColourData"><span ng-bind="galaxyDetails.Decl_fulltext"></span></span></h4>
                        <h4>Type: <span class="textColourData" ng-bind="galaxyDetails.Type_Text"></span></h4>
                        <h4><span class="textColourData"  ng-bind="galaxyDetails.Type"></span></h4>
                     </div>
                     <div id="galaxyDetailsBox3" class="hidden-xs">
                        <div class="nextPrevControls">
                           <div id="searchResultsTitle" class="textBlock">
                              SEARCH RESULTS
                           </div>
                           <div class="searchDescriptor">
                              <h4><span class="textColourData2">{{galaxyDetails.searchDescriptor}}</span></h4>
                           </div>
                           <div class="galaxyNextPrevList">
                              <button class="btn btn-primary raised" ng-click="prevGalaxy()">
                                 <span class="glyphicon glyphicon-menu-left"></span> Prev</button>
                              <button class="btn btn-primary raised" ng-click="nextGalaxy()">Next <span class="glyphicon glyphicon-menu-right"></span></button>
                            </div>
                            <div class="returnToList">
                               <button  type="button" class="btn btn-link" ng-click="returnToList()">Return to List</button>
                            </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="largeImageWrapper pull-left clearfix">
                  <img class="img-responsive largeImage" ng-src="images/galaxy originals 800/{{galaxyDetails.Common_Name}}.jpg" alt="">
               </div>
            </div>

         </div>
      </div>
   </div>

</section>
