<section class="homePage">

   <div class="container">
      <div class="row">

         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
              <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="carousel-fade carousel-large">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                  <img ng-src="{{slide.image}}" >
                  <div class="carousel-caption">
                    <p>{{slide.text}}</p>
                  </div>
                </div>
             </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
            <img id="homepageThumb" class="img-responsive hidden-xs" ng-src="images/galaxy originals 800/M87.jpg" alt="">
         </div>
         <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <div id="introText">
               <h1>The Multiverse Galactic Directory</h1>
               <div>
                  <h3 class="textBlock">This website is a growing directory of most major galaxies within 100 million light years of the Milky Way (our galactic neighbourhood around the Virgo Cluster). Go to the List page and use the filter controls to search the database and sort your results. There are currently <b>480 galaxies</b> in the database, representing the majority of large galaxies near the Milky Way.</h3>
                  <button id="" type="button" class="btn btn-link" ng-click="gotoList()">Enter</button>
               </div>
            </div>
         </div>

      </div>
   </div>

</section>
