<section class="videoPage">
    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h1>Multiverse: 3D extra-galactic explorer</h1>
        <p>The Multiverse Galactic Library is based on work from my Multiverse 3D mapping and performance visualization program, built with TouchDesigner software.</p></br>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="//player.vimeo.com/video/130045653"></iframe>
        </div>

    </div>
    </div>
    </div>

</section>
